*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.front{
    min-height:100vh;
}


body{
    
    color:white;
}
.front{
    background-color:#5B21B6;
}
.heading{
    text-align:center;
    font-size:4rem;
    padding-top:20vh;
    margin-bottom:2rem;
} 
.heading p{
    font-size:1.2rem;
}

 
#check-link {
    margin-top:2rem;
    margin-left:45vw;
    padding:0.5rem;
    color:#BE185D;
    font-weight:bolder;
    border:2px solid #5B21B6;
    font-size:1.2rem;
    border-radius: 0.5rem;
    background-color: #A78BFA;
    cursor:pointer;
    text-decoration: none;
    
} 




